.Buton{
    height:40px;
    width:120px;
    background-color:#ff6a00;
    color:white;
    font-size:18pt;
}
.Label{
    background-color: #00ff90;
    font-size:12pt;
    color:blue;
}
.Div{
    background-color:lightcoral;
    width:500px;
    height:100px;
    margin-left:50px;
    margin-top:50px;
}